<%provide(:title, 'Contact')%>
 <h1>Contacts</h1>
 <p>
 For questions, comments or support, please contact our webmaster, <a href="https://www.facebook.com/michael.oreilly.10888"> Penny.</a>
 <p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
