<% provide(:title, 'Help') %>
 
 <h1>Help!!!</h1>
 <p>
 There is no one to help you.
 <p>
 Try <a href="http://google.com"> googling it! </a>
 <p>
 Abandon all hope ye who enter here!
 </p> 
 </body>
 </html>  
 